<?xml version="1.0" encoding="utf-8" ?>
<menu>
	<mhead>
		<name en="news" id="1">新闻模块</name>
		<action>
			<name en="index" id="2">新闻列表</name>
			<link>index.php?<![CDATA[a=index&c=news&admin=1]]></link>
		</action>
		<action>
			<name en="insert" id="3">新闻添加</name>
			<link>index.php?<![CDATA[a=insert&c=news&admin=1]]></link>
		</action>
		<action>
			<name en="update" id="4" >权限修改</name>
			<link>index.php?<![CDATA[a=update&c=news&admin=1]]></link>
		</action>
	</mhead>
	<mhead>
		<name en="admin" id="5">管理员模块</name>
		<action>
			<name en="index" id="6">管理员列表</name>
			<link>index.php?<![CDATA[a=index&c=admin&admin=1]]></link>
		</action>
		<action>
			<name en="insert" id="7">管理员添加</name>
			<link>index.php?<![CDATA[a=insert&c=admin&admin=1]]></link>
		</action>
		<action>
			<name en="update" id="8" >权限修改</name>
			<link>index.php?<![CDATA[a=update&c=admin&admin=1]]></link>
		</action>
	</mhead>
	<mhead>
		<name en="category" id="9">分类模块</name>
		<action>
			<name en="index" id="10">分类列表</name>
			<link>index.php?<![CDATA[a=index&c=category&admin=1]]></link>
		</action>
		<action>
			<name en="insert" id="11">分类添加</name>
			<link>index.php?<![CDATA[a=insert&c=category&admin=1]]></link>
		</action>
		<action>
			<name en="update" id="12" >权限修改</name>
			<link>index.php?<![CDATA[a=update&c=category&admin=1]]></link>
		</action>
	</mhead>
	<mhead>
		<name en="mode" id="13">权限模块</name>
		<action>
			<name en="index" id="14">权限列表</name>
			<link>index.php?<![CDATA[a=index&c=mode&admin=1]]></link>
		</action>
		<action>
			<name en="insert" id="15">权限添加</name>
			<link>index.php?<![CDATA[a=insert&c=mode&admin=1]]></link>
		</action>
		<action>
			<name en="update" id="16" >权限修改</name>
			<link>index.php?<![CDATA[a=update&c=mode&admin=1]]></link>
		</action>
	</mhead>




</menu>